<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
        .thea{
            text-decoration: none ; 

        }
        .thea:hover {
            text-decoration: none;
            }

             .chu{
                   font-size: 15px;
                   font-weight: bold ;
                   
            }
    </style>
</head>

<body>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <!-- Brand/logo -->
        <a class="navbar-brand" href="/">IAMVU</a>

        <!-- Links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Rooms</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="Hotels">Hotels</a>
            </li>
        
        </ul>
    </nav>

    <div class="container">
        <h2>IAMVU</h2>
        <p>Room</p>
        
        <table class="table table-dark table-hover">
            <thead>
                
                <tr>


                    <th>Room Number</th>
                    <th>Floor</th>
                    <th>Hotelid</th>
                    <th>Single Room</th>
                    <th>Price</th>
                    <th>Status</th>
                    <th>Image</th>
                    <th>Detail</th>

                </tr>
            </thead>
            <tbody>
               {{#each rooms}}
                <tr>
                    <td class="chu">{{this.room_number}}</td>
                     <td class="chu">{{this.floor}}</td>
                      <td class="chu">{{this.hotelid.name}}</td>
                     <td class="chu">{{this.single_room}}</td>
                      <td class="chu">{{this.price}}</td>
                     <td class="chu">{{check_status this.status}}</td>
                      <td class="chu"><img src="{{this.image}}"  alt="" style="width: 70px; height: 70px"></td>
                     <td class="chu">{{this.detail}}</td>
                      <td class="chu"><a href="/rooms/edit/{{this._id}}" class="thea">Sửa</a></td>
                      <td class="chu"><a href="javascript:void(0);" onclick="confirmDelete('/rooms/remove/{{this._id}}', '{{this.room_number}}')" class="thea">Xóa</a></td>
                   
                </tr>
               {{/each}}


            </tbody>

        </table>
        <div style="text-align: center; border: 2px solid red;
  border-radius: 12px; background-color: #99FFCC">
            <h3><a href="rooms/Add" style="text-decoration: none">Thêm</a></h3>
        </div>
    </div>


    <div class="container">


        <br />

        <!-- Social Footer, Single Coloured -->
        <!-- Include Font Awesome Stylesheet in Header -->
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <!-- // -->
        <div class="container">

            <hr />
            <div class="text-center center-block">
                <p class="txt-railway">- bienvxph05562@fpt.edu.vn -</p>
                <br />
                <a href="https://www.facebook.com/vuvan.bien.1426"><i
                        class="fa fa-facebook-square fa-3x social"></i></a>
                <a href="https://twitter.com/nguyen_vu27?lang=vi"><i class="fa fa-twitter-square fa-3x social"></i></a>
                <a href="https://plus.google.com/u/1/discover?pageId=none"><i
                        class="fa fa-google-plus-square fa-3x social"></i></a>
                <a href="https://mail.google.com/mail/u/1/#inbox"><i class="fa fa-envelope-square fa-3x social"></i></a>
            </div>
            <hr />
        </div>

          <script>
            function confirmDelete(url, roomsid) {
                var conf = confirm(`Ban co chac chan muon xoa danh muc ${roomsid} `);
                if (conf == true) {
                    window.location.href = url;
                }
            }
        </script>



</body>

</html>